.jumbotron{
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
  background: url(images/cover.jpg) center;
}
.jumbotron h2{
  font-weight: bolder;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 200;
}
#subtitle{
  text-align: center;
}
#footerline{
  border-top: 1px solid #333;
}
.add_field{
  width: 50px;
}
.action{
  width: 15%;
}
.tab-content{
  /*background-color: white;*/
}
#back{
  text-align: center;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}